
/*                
 888b      88                        88                                88                          
 8888b     88                        ""                          ,d    ""                          
 88 `8b    88                                                    88                                
 88  `8b   88 ,adPPYYba, 8b       d8 88  ,adPPYb,d8 ,adPPYYba, MM88MMM 88  ,adPPYba,  8b,dPPYba,   
 88   `8b  88 ""     `Y8 `8b     d8' 88 a8"    `Y88 ""     `Y8   88    88 a8"     "8a 88P'   `"8a  
 88    `8b 88 ,adPPPPP88  `8b   d8'  88 8b       88 ,adPPPPP88   88    88 8b       d8 88       88  
 88     `8888 88,    ,88   `8b,d8'   88 "8a,   ,d88 88,    ,88   88,   88 "8a,   ,a8" 88       88  
 88      `888 `"8bbdP"Y8     "8"     88  `"YbbdP"Y8 `"8bbdP"Y8   "Y888 88  `"YbbdP"'  88       88  
                                         aa,    ,88                                                
                                          "Y8bbdP"                         
*/

.TopNav {
    background-color: #74ddd9;
    width: 100%;
    height: 60px;
    z-index: 300;
    position: fixed;
    top: 0;
}

    .TopNav .LeftLogoBox {
        padding: 10px 0px 10px 20px;
    }

        .TopNav .LeftLogoBox a {
            text-decoration: none;
            text-align: left;
            font-size: 3rem;
        }

    .TopNav .rightNavLinksBox {
        text-align: right;
        margin: 20px 0px 16px 0px;
    }

        .TopNav .rightNavLinksBox li {
            display: inline;
            margin: auto 10px auto 10px;
        }

            .TopNav .rightNavLinksBox li a {
                text-decoration: none;
                font-size: 2rem;
                letter-spacing: 0.01rem;
            }



/* 
                        ad88888ba                                88                          
                       d8"     "8b                         ,d    ""                          
                       Y8,                                 88                                
                       `Y8aaaaa,    ,adPPYba,  ,adPPYba, MM88MMM 88  ,adPPYba,  8b,dPPYba,   
                         `"""""8b, a8P_____88 a8"     ""   88    88 a8"     "8a 88P'   `"8a  
                               `8b 8PP""""""" 8b           88    88 8b       d8 88       88  
                       Y8a     a8P "8b,   ,aa "8a,   ,aa   88,   88 "8a,   ,a8" 88       88  
                        "Y88888P"   `"Ybbd8"'  `"Ybbd8"'   "Y888 88  `"YbbdP"'  88       88  
                                                                                     
                                                                                     
                                                                                
                            ad88888ba                    88 88                          
                           d8"     "8b ,d                88 ""                          
                           Y8,         88                88                             
                           `Y8aaaaa, MM88MMM 8b       d8 88 88 8b,dPPYba,   ,adPPYb,d8  
                             `"""""8b, 88    `8b     d8' 88 88 88P'   `"8a a8"    `Y88  
                                   `8b 88     `8b   d8'  88 88 88       88 8b       88  
                           Y8a     a8P 88,     `8b,d8'   88 88 88       88 "8a,   ,d88  
                            "Y88888P"  "Y888     Y88'    88 88 88       88  `"YbbdP"Y8  
                                                 d8'                        aa,    ,88  
                                                d8'                          "Y8bbdP"
  */
.separator {
    position: relative;
    margin-bottom: 1.5em;
    padding-bottom: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
    color: inherit;
}

    .separator:before {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        width: 190px;
        border: double;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }

section {
    padding: 1px 0px;
}

.pastel {
    background-image: url("../assets/pastel.svg");
    background-size: cover;
}

.bright {
    background-image: url("../assets/pattern.svg");
    background-size: cover;
}

.opacitybg {
    background: rgba(255, 255, 255, 0.1);
    background-size: cover;
    margin: -51px 0px;
}

/* Section with background photo. Every section which will have this
   class will get the effect with a background cover. Video and Compliments */
.featured-bg-image {
    position: relative;
    z-index: 1;
    color: white;
    min-height: 100px;
}
    /*.featured-bg-image::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: .8;
    }*/
    .featured-bg-image::after { /*insert image here or delete section. Applies to Comments, quotes, and video*/
        opacity: .2; /* layer alpha */
        /*background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSIxMDAlIiB5MT0iNTAlIiB4Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIiB5Mj0iNTAlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JiNDI0MiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VmYWI0YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* gradient overlay */
        background-image: -moz-linear-gradient(right, #00ffff 0%, #b200ff 100%); /* gradient overlay */
        background-image: -o-linear-gradient(right, #00ffff 0%, #b200ff 100%); /* gradient overlay */
        background-image: -webkit-linear-gradient(right, #00ffff 0%, #b200ff 100%); /* gradient overlay */
        background-image: linear-gradient(right, #00ffff 0%, #b200ff 100%); /* gradient overlay */
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
    }



/*
                                          88        88                                    
                                          88        88                                    
                                          88        88                                    
                                          88aaaaaaaa88  ,adPPYba, 8b,dPPYba,  ,adPPYba,   
                                          88""""""""88 a8P_____88 88P'   "Y8 a8"     "8a  
                                          88        88 8PP""""""" 88         8b       d8  
                                          88        88 "8b,   ,aa 88         "8a,   ,a8"  
                                          88        88  `"Ybbd8"' 88          `"YbbdP"'  
    hero image provides fade*/
.hero {
    /*padding-top: 60px; for phone only*/
    position: relative;
    background-color: #94d3d0; /* layer fill content */
    color: white;
}

    .hero .herologo {
        margin: 80px auto 50px auto;
        width: 450px;
        overflow: hidden;
    }

    .hero .separator {
        margin: -50px 0px 50px 0px;
    }


/*Introduction------------------------ */

.introduction svg {
    margin: -5px -5px -2px 2px;
}


/*
          88888888ba                                 88 88          88 88 88         88                       
          88      "8b                                "" 88          "" 88 ""   ,d    ""                       
          88      ,8P                                   88             88      88                             
          88aaaaaa8P' ,adPPYba,  ,adPPYba, ,adPPYba, 88 88,dPPYba,  88 88 88 MM88MMM 88  ,adPPYba, ,adPPYba,  
          88""""""'  a8"     "8a I8[    "" I8[    "" 88 88P'    "8a 88 88 88   88    88 a8P_____88 I8[    ""  
          88         8b       d8  `"Y8ba,   `"Y8ba,  88 88       d8 88 88 88   88    88 8PP"""""""  `"Y8ba,   
          88         "8a,   ,a8" aa    ]8I aa    ]8I 88 88b,   ,a8" 88 88 88   88,   88 "8b,   ,aa aa    ]8I  
          88          `"YbbdP"'  `"YbbdP"' `"YbbdP"' 88 8Y"Ybbd8"'  88 88 88   "Y888 88  `"Ybbd8"' `"YbbdP"'  

*/
.possibilities {
    text-align: center; /*align images in li*/
}

    .possibilities h4 {
        padding-top: 50px;
    }

    .possibilities li h5 {
        font-weight: 500;
        margin-top: 40px;
        margin-bottom: 10px;
        text-align: center;
    }

    .possibilities .four.columns {
        margin-top: -10px;
    }

    .possibilities img {
        width: 100%;
        position: relative;
        z-index: -100;
    }


/* 
     ,ad8888ba,                                                              88                              88                          
    d8"'    `"8b                         ,d                                  ""                        ,d    ""                          
   d8'                                   88                                                            88                                
   88            88       88 ,adPPYba, MM88MMM ,adPPYba,  88,dPYba,,adPYba,  88 888888888 ,adPPYYba, MM88MMM 88  ,adPPYba,  8b,dPPYba,   
   88            88       88 I8[    ""   88   a8"     "8a 88P'   "88"    "8a 88      a8P" ""     `Y8   88    88 a8"     "8a 88P'   `"8a  
   Y8,           88       88  `"Y8ba,    88   8b       d8 88      88      88 88   ,d8P'   ,adPPPPP88   88    88 8b       d8 88       88  
    Y8a.    .a8P "8a,   ,a88 aa    ]8I   88,  "8a,   ,a8" 88      88      88 88 ,d8"      88,    ,88   88,   88 "8a,   ,a8" 88       88  
     `"Y8888Y"'   `"YbbdP'Y8 `"YbbdP"'   "Y888 `"YbbdP"'  88      88      88 88 888888888 `"8bbdP"Y8   "Y888 88  `"YbbdP"'  88       88
*/
.customization h5 {
    text-align: left;
}

.customization li {
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center; /*center aligns images*/
}

    .customization li h5 {
        font-weight: 500;
        margin-top: 30px;
        margin-bottom: 10px;
        text-align: center;
    }

    .customization li p {
        text-align: left;
    }
/* .customization li img {
        height: 150px;
    }*/

/*
          ,ad8888ba,                                             88 88                                                             
         d8"'    `"8b                                            88 ""                                            ,d               
        d8'                                                      88                                               88               
        88             ,adPPYba,  88,dPYba,,adPYba,  8b,dPPYba,  88 88 88,dPYba,,adPYba,   ,adPPYba, 8b,dPPYba, MM88MMM ,adPPYba,  
        88            a8"     "8a 88P'   "88"    "8a 88P'    "8a 88 88 88P'   "88"    "8a a8P_____88 88P'   `"8a  88    I8[    ""  
        Y8,           8b       d8 88      88      88 88       d8 88 88 88      88      88 8PP""""""" 88       88  88     `"Y8ba,   
         Y8a.    .a8P "8a,   ,a8" 88      88      88 88b,   ,a8" 88 88 88      88      88 "8b,   ,aa 88       88  88,   aa    ]8I  
          `"Y8888Y"'   `"YbbdP"'  88      88      88 88`YbbdP"'  88 88 88      88      88  `"Ybbd8"' 88       88  "Y888 `"YbbdP"'
*/
.compliments {
    background-color: #94d3d0;
}

    .compliments ul {
        margin-bottom: 10px;
        margin-top: -8px; /*takes care of extra space between two ULs*/
        margin-right: 20px;
        margin-left: 20px;
    }
/* .compliments img {
        width: 100%;
        z-index: 5;
        position: relative;
        text-align: center;
    }
.compliments::before {
    background: url("../Assets/BigImages/creativity_bg_image.jpg");
    background-size: cover;
    background-position:50%;
}*/


/*
                                  8b           d8 88          88                         
                                  `8b         d8' ""          88                         
                                   `8b       d8'              88                         
                                    `8b     d8'   88  ,adPPYb,88  ,adPPYba,  ,adPPYba,   
                                     `8b   d8'    88 a8"    `Y88 a8P_____88 a8"     "8a  
                                      `8b d8'     88 8b       88 8PP""""""" 8b       d8  
                                       `888'      88 "8a,   ,d88 "8b,   ,aa "8a,   ,a8"  
                                        `8'       88  `"8bbdP"Y8  `"Ybbd8"'  `"YbbdP"'
*/
.video-iframe {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: none;
}

.video p {
    text-align: center;
    color: black;
}

.button.circle {
    /*video button*/
    width: 10em;
    height: 10em;
    border-radius: 50%;
}

.video a {
    visibility: hidden;
    padding: 4px 0px 0px 0px;
}
/*.video::before {
    background: url("../Assets/BigImages/video_bg_image.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: -1;
}*/


/*
                         88888888ba             88            88                          
                         88      "8b            ""            ""                          
                         88      ,8P                                                      
                         88aaaaaa8P' 8b,dPPYba, 88  ,adPPYba, 88 8b,dPPYba,   ,adPPYb,d8  
                         88""""""'   88P'   "Y8 88 a8"     "" 88 88P'   `"8a a8"    `Y88  
                         88          88         88 8b         88 88       88 8b       88  
                         88          88         88 "8a,   ,aa 88 88       88 "8a,   ,d88  
                         88          88         88  `"Ybbd8"' 88 88       88  `"YbbdP"Y8  
                                                                              aa,    ,88  
                                                                               "Y8bbdP"
*/
.pricing {
    margin-top: 30px;
    margin-bottom: -20px;
}

    .pricing .military {
        margin-bottom: 20px;
        padding: 20px 20px 5px 20px;
    }

        .pricing .military h5 {
            font-weight: 500;
            text-align: center;
            margin-top: -10px;
            margin-bottom: 15px;
        }

    .pricing ul h2 {
        margin: -10px 0px 20px 0px;
    }

    .pricing ul h4 {
    }


/*

                                                                              
                                   ,ad8888ba,                                             
                                  d8"'    `"8b                           ,d               
                                 d8'        `8b                          88               
                                 88          88 88       88  ,adPPYba, MM88MMM ,adPPYba,  
                                 88          88 88       88 a8"     "8a  88   a8P_____88  
                                 Y8,    "88,,8P 88       88 8b       d8  88   8PP"""""""  
                                  Y8a.    Y88P  "8a,   ,a88 "8a,   ,a8"  88,  "8b,   ,aa  
                                   `"Y8888Y"Y8a  `"YbbdP'Y8  `"YbbdP"'   "Y888 `"Ybbd8"'
*/
.quote .button {
    margin: 150px 0px;
    color: blueviolet;
    ;
}
/*.quote::before {
    background: url("../Assets/BigImages/quote_bg_image.jpg");
    background-size: cover;
    background-position: 50% 50%;
}*/


/*
              88                                        888b      88                         
              88                                        8888b     88                         
              88                                        88 `8b    88                         
              88          ,adPPYba,  8b      db      d8 88  `8b   88 ,adPPYYba, 8b       d8  
              88         a8"     "8a `8b    d88b    d8' 88   `8b  88 ""     `Y8 `8b     d8'  
              88         8b       d8  `8b  d8'`8b  d8'  88    `8b 88 ,adPPPPP88  `8b   d8'   
              88         "8a,   ,a8"   `8bd8'  `8bd8'   88     `8888 88,    ,88   `8b,d8'    
              88888888888 `"YbbdP"'      YP      YP     88      `888 `"8bbdP"Y8     "8"   
*/
.lownav {
    background-color: #afeeee;
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 30px 10px 10px 10px;
}

    .lownav .container {
        margin: 0px auto;
    }

    .lownav li {
        display: inline;
        padding-right: 15px;
    }

    .lownav a {
        text-decoration: none;
    }
/*
                                        ad88888ba                         88            88  
                                       d8"     "8b                        ""            88  
                                       Y8,                                              88  
                                       `Y8aaaaa,    ,adPPYba,   ,adPPYba, 88 ,adPPYYba, 88  
                                         `"""""8b, a8"     "8a a8"     "" 88 ""     `Y8 88  
                                               `8b 8b       d8 8b         88 ,adPPPPP88 88  
                                       Y8a     a8P "8a,   ,a8" "8a,   ,aa 88 88,    ,88 88  
                                        "Y88888P"   `"YbbdP"'   `"Ybbd8"' 88 `"8bbdP"Y8 88 
*/
.social svg {
    fill: white;
    width: 50px;
}

.social li {
    display: inline;
    padding: 0px;
}

.Facebook:hover {
    fill: #3B5998;
}

.LinkedIn:hover {
    fill: #0077B5;
}

.GitHub:hover {
    fill: #181717;
}

.Instagram:hover {
    fill: #E4405F;
}

.Twitter:hover {
    fill: #1DA1F2;
}

/*
     88888888ba                                       88888888ba                               
     88      "8b                                      88      "8b               ,d      ,d     
     88      ,8P                                      88      ,8P               88      88     
     88aaaaaa8P' ,adPPYYba,  ,adPPYb,d8  ,adPPYba,    88aaaaaa8P' 88       88 MM88MMM MM88MMM  
     88""""""'   ""     `Y8 a8"    `Y88 a8P_____88    88""""""8b, 88       88   88      88     
     88          ,adPPPPP88 8b       88 8PP"""""""    88      `8b 88       88   88      88     
     88          88,    ,88 "8a,   ,d88 "8b,   ,aa    88      a8P "8a,   ,a88   88,     88,    
     88          `"8bbdP"Y8  `"YbbdP"Y8  `"Ybbd8"'    88888888P"   `"YbbdP'Y8   "Y888   "Y888  
                             aa,    ,88                                                        
                              "Y8bbdP"                                                       
*/
.pagebutt {
    margin-left: 10px;
}

    .pagebutt .container {
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .pagebutt .buttlogo {
        width: 100px;
        overflow: hidden;
        display: inline-block;
    }

    .pagebutt p {
        display: inline-block;
        margin: 0px;
        padding: 10px;
        vertical-align: top;
    }








/*

                                      
                88          88             88         
                88          ""             88         
                88                         88         
                88          88 8b,dPPYba,  88   ,d8   
                88          88 88P'   `"8a 88 ,a8"    
                88          88 88       88 8888[      
                88          88 88       88 88`"Yba,   
                88888888888 88 88       88 88   `Y8a  
                                      
                                      
                                                                           
                88                                          88 88                          
                88                                          88 ""                          
                88                                          88                             
                88          ,adPPYYba, 8b,dPPYba,   ,adPPYb,88 88 8b,dPPYba,   ,adPPYb,d8  
                88          ""     `Y8 88P'   `"8a a8"    `Y88 88 88P'   `"8a a8"    `Y88  
                88          ,adPPPPP88 88       88 8b       88 88 88       88 8b       88  
                88          88,    ,88 88       88 "8a,   ,d88 88 88       88 "8a,   ,d88  
                88888888888 `"8bbdP"Y8 88       88  `"8bbdP"Y8 88 88       88  `"YbbdP"Y8  
                                                                               aa,    ,88  
                                                                                "Y8bbdP"   
*/

.landinglogo {
    width: 250px;
    margin: -50px auto 20px auto;
    overflow: hidden;
}

    .landing h3 {
        line-height: 1.7em;
    }


    .landing .container {
        max-width: 600px;
        text-align: center;
    }

/*
                                                              
       db        88                                           
      d88b       88                                    ,d     
     d8'`8b      88                                    88     
    d8'  `8b     88,dPPYba,   ,adPPYba,  88       88 MM88MMM  
   d8YaaaaY8b    88P'    "8a a8"     "8a 88       88   88     
  d8""""""""8b   88       d8 8b       d8 88       88   88     
 d8'        `8b  88b,   ,a8" "8a,   ,a8" "8a,   ,a88   88,    
d8'          `8b 8Y"Ybbd8"'   `"YbbdP"'   `"YbbdP'Y8   "Y888  
*/

.about p{
    text-align: center;
}

.about h2 {
    color: blueviolet;
}

.about h3 {
    font-size: 4.0rem;
    line-height: 2;
    font-weight: bold;
    text-transform: uppercase;
}

.insta{
    text-align: center;
}

.insta h5 {
    font-weight: bold;
    text-transform: uppercase;
    text-align:center;
}

.insta a{
    color:blueviolet;
    text-decoration:none;
}
.insta a:hover{
    color:aquamarine;
}

#instafeed {
    display: inline-block;
}
    #instafeed img {
        margin: 0px 5px;
        padding: 9px;
        background-color: white;
        border: solid #a9c7c7 1px;
    }

.heartspace{
    text-align:center;
}
/*Animated Heart!!! 
*/
.heart {
    width:90px;
    height: 90px;
    display:inline-block;
    background: url(../assets/heart.png);
    background-position: 0 0;
    cursor: pointer;
    animation: fave-heart 1s steps(28);
}

    .heart:hover {
        background-position: -2800px 0;
        transition: background 1s steps(28);
    }

@keyframes fave-heart {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -2800px 0;
    }
}
